/* GLOBAL APP STYLES */

/* Full screen layout */

.app {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
}

/* Remove any default spacing */
/* GLOBAL WEBSITE BACKGROUND */

body {
  margin: 0;

  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?q=80&w=1920");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Makes background fixed while scrolling */
  background-attachment: fixed;

  font-family: sans-serif;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */

button {
  font-family: inherit;
  cursor: pointer;
}

/* Images responsive */

img {
  max-width: 100%;
  display: block;
}